.empty-list{
    font-size: 1rem;
    color: red;
} 

.top img{
    position: relative;
    height: 18rem;
    width: 18rem;
}

.bottom a:hover{
    color: coral;
    transition: 0.2s ease-in-out;
}

button{
    margin: 0.8rem;
    background: red;
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
}

button:hover{
    background: rgb(22, 22, 22);
    transition:0.2s ease-in;
}